.stock-result {
  font-size: 80%;
}
.stock-description {
  border: 1px solid lightgray;
  border-bottom: 0;
  padding: 7px;
}
.stock-section {
  border: 1px solid lightgray;
  border-top: 0;
  padding: 7px;
  font-style: italic;
}

.stock-news {
  justify-content: left;
  text-align: left;
}
.stock-news li {
  display: inline-block;
}
.stock-news small {
  margin-right: 10px;
}
.stock-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgray;
  border-top: 0;
  font-size: 80%;
  padding: 10px 0;
}

.stock-info h4 {
  text-decoration: underline;
  font-variant: small-caps;
  font-size: 110%;
}